body {
   background-color: transparent;
   text-align: center;
   margin: 0;
}

#container {
   background-color: #fff;
   position: relative;
   width: 100vw;
   height: 1000px;
}

.imglogo {
   display: inline-block;
   width: 218px;
   height: 101px;
   position: relative;
   margin-top: 60px;
}

.hero {
   display: inline-block;
   width: 100vw;
   position: relative;
   margin-top: 20px;
}

nav {
   position: absolute;
   top: 1%;
   left: 0;
   height: 40px;
   width: 100%;
   display: flex;
   justify-content: center;
}

nav ul {
   font-family: Lato, sans-serif;
   font-weight: 300;
   font-size: 15px;
   width: 800px;
   list-style: none;
}

nav ul li {
   width: 25%;
   float: left;
}

nav ul li a {
   color: #808080;
}

#home {
   font-weight: 900;
   color: #fedcd2;
}

h1 {
   font-family: 'Avenir Next Condensed', Nunito, sans-serif;
   font-weight: 500;
   font-size: 5vw;
   color: #fedcd2;
   float: left;
   position: absolute;
   top: 40%;
   left: 16%;
   margin: 0;
   padding: 0;
}

p {
   font-family: 'Avenir Next Condensed', Nunito, sans-serif;
   font-weight: 200;
   font-size: 2vw;
   color: #fff;
   float: left;
   position: absolute;
   top: 50%;
   left: 16%;
   margin: 0;
   padding: 0;
}

@media (min-width: 200px) and (max-width: 380px) {
   body {
      background-color: transparent;
      text-align: center;
      margin: 10px;
   }

   h1 {
      display: flex;
      font-family: 'Avenir Next Condensed', Nunito, sans-serif;
      font-weight: 500;
      font-size: 5vw;
      color: #fedcd2;
      float: left;
      position: absolute;
      top: 25%;
      left: 16%;
      margin: 0;
      padding: 0;
   }

   p {
      font-family: 'Avenir Next Condensed', Nunito, sans-serif;
      font-weight: 200;
      font-size: 3vw;
      color: #fff;
      float: left;
      position: absolute;
      top: 28%;
      left: 16%;
      margin: 0;
      padding: 0;
   }
}

@media (min-width: 380px) and (max-width: 770px) {
   body {
      background-color: transparent;
      text-align: center;
      margin: 10px;
   }

   h1 {
      font-family: 'Avenir Next Condensed', Nunito, sans-serif;
      font-weight: 500;
      font-size: 5vw;
      color: #fedcd2;
      float: left;
      position: absolute;
      top: 27%;
      left: 16%;
      margin: 0;
      padding: 0;
   }

   p {
      font-family: 'Avenir Next Condensed', Nunito, sans-serif;
      font-weight: 200;
      font-size: 3vw;
      color: #fff;
      float: left;
      position: absolute;
      top: 35%;
      left: 16%;
      margin: 0;
      padding: 0;
   }
}

.About {
   width: 385px;
   height: 70px;
   position: relative;
   left: 113px;
   background-color: #fedcd2;
   border: 5px solid rgb(227, 227, 227);
   font-family: 'Avenir Next Condensed', Nunito, sans-serif;
   font-weight: 300;
   font-size: 30px;
   color: #808080;
   transition: all 500ms ease;
}

.About:hover {
   background: rgba(0, 0, 0, 0);
   color: #fedcd2;
   box-shadow: 0 0 0 3px rgb(227, 227, 227);
}

.Porfolio {
   display: inline-block;
   position: relative;
   left: 125px;
   width: 385px;
   height: 70px;
   background-color: #fedcd2;
   border: 5px solid rgb(227, 227, 227);
   font-family: 'Avenir Next Condensed', Nunito, sans-serif;
   font-weight: 300;
   font-size: 30px;
   color: #808080;
   transition: all 500ms ease;
}

.Porfolio:hover {
   background: rgba(0, 0, 0, 0);
   color: #fedcd2;
   box-shadow: 0 0 0 3px rgb(227, 227, 227);
}

.Contact {
   display: inline-block;
   position: relative;
   left: 135px;
   width: 385px;
   height: 70px;
   background-color: #fedcd2;
   border: 5px solid rgb(227, 227, 227);
   font-family: 'Avenir Next Condensed', Nunito, sans-serif;
   font-weight: 300;
   font-size: 30px;
   color: #808080;
   transition: all 500ms ease;
}

.Contact:hover {
   background: rgba(0, 0, 0, 0);
   color: #fedcd2;
   box-shadow: 0 0 0 3px rgb(227, 227, 227);
}

#container2 {
   background-color: #f1f1f1;
   position: relative;
   top: 1000px;
   width: 100%;
   height: 100px;
}
