body {
   background-color: transparent;
   text-align: center;
   margin: 0;
   padding: 0;
}



.imglogo {
   display: inline-block;
   width: 218px;
   height: 101px;
   position: relative;
   margin-top: 5vh;
}

.hero {
   display: inline-block;
   width: 100%;
   position: relative;
   top: 1em;
}

nav {
   position: relative;
   width: 100%;
   font-family: Arial Narrow, sans-serif;
   font-weight: 800;
   font-size: 1em;
   margin: 0 auto;
   top: -70vw;
}

nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

nav ul li {
   width: 25%;
   float: left;
}

nav ul li a {
   display: inline-block;
   color: #808080;
}

#home {
   font-weight: 500;
   color: #fedcd2;
}

h1 {
   font-family: Arial Narrow, sans-serif;
   font-weight: 100;
   font-size: 6vw;
   color: #fedcd2;
   text-align: left;
   position: relative;
   margin-top: -50vw;
   margin-left: 20vw;
   margin-bottom: 0;
}

p {
   font-family: Arial Narrow, sans-serif;
   font-style: italic;
   font-size: 2vw;
   color: #fffafa;
   text-align: left;
   position: relative;
   margin-top: 20px;
   margin-left: 20vw;


}

.box1 {
  position: absolute;
  margin-top: 70px;
  margin-left: 20vw;
  z-index: 99;
}

.Porfolio {
   width: 385px;
   height: 70px;
   background-color: #fedcd2;
   border: 5px solid rgb(227, 227, 227);
   font-family: Arial Narrow, sans-serif;
   font-weight: 800;
   font-size: 30px;
   font-style: italic;
   color: #808080;
   transition: all 500ms ease;

}

.Porfolio:hover {
   background: rgba(0, 0, 0, 0);
   color: #fedcd2;
   box-shadow: 0 0 0 3px rgb(227, 227, 227);
}

@media screen and (max-width: 1231px) {
  .box1 {
    position: absolute;
    margin-top: 20px;
    margin-left: 20vw;
    z-index: 99;
  }

  .Porfolio {
     width: 125px;
     height: 37px;
     font-weight: 800;
     font-size: 10px;
     border: 2px solid rgb(227, 227, 227);
  }
}
